<head>
  <title>leaderboard</title>
</head>

<body>
  <h1>Leaderboard</h1>
  {{> loginButtons}}
  {{> leaderboard}}
  {{> addPlayerForm}}
  
</body>

<template name="leaderboard">
  {{#if currentUser}}
  <ul>
  {{#each player}}
    <li class="player {{selectedClass}}"> {{name}}: {{score}}</li>
  {{/each}}
    {{#if showSelectedPlayer}}
    <input type="button" class="increment" value="give 5 points">
    <input type="button" class="decrement" value="take 5 points">
    <input type="button" class="remove" value="Remove Player">
    {{/if}}
  </ul>
  {{#if showSelectedPlayer }}
      <li> Selected Player: {{showSelectedPlayer.name}} </li>
  {{/if}}
  {{/if}}
</template>

<template name="addPlayerForm">
  {{#if currentUser}}
  <form>
    <li> Player Name <input type="text" name="playerName"></li>
    <input type="submit" value="Add Player">
  </form>
  {{/if}}
</template>
